body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;

}

header {
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  text-transform: uppercase;
  border: 1px rgb(160, 160, 160) solid;
  background: white;
  padding: 5px;


}

.menu {

  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  display: flex;
  position: relative;
  right: 2%;
  color: #3c3b3b;
}

menu li a {
  color: #3c3b3b;
}

.menu li {
  margin-right: 10px;
  position: relative;

}

.accueil,
.article,
.connexion {
  border-right: 1px solid rgb(160, 160, 160);
  padding: 0.2% 0.5% 0.2% 0%;
  position: relative;
  right: 2%
}

.connexion {
  border: none
}

.header_title {
  height: auto;
  width: 25%
}

.header_title a {

  padding: 10% 25px 8% 0%;

  font-weight: bold;
  font-size: 1.1em;
  opacity: 80%;
  letter-spacing: 2px;

  border-right: 1px solid rgb(160, 160, 160);
}

li a {
  color: #3c3b3b;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.6em;
  opacity: 30%
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  
  margin: 120px 3% 0 3%;

  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.container_article {
  font-family: 'Source Sans Pro', sans-serif;
  
  margin: 120px 3% 0 3%;
  
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.aside_para {
  background: white ; 
  border: 1px solid black;
  grid-column: 1;
  grid-row: 1 / 3;
}
.aside_para p {
  padding: 40px
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid black;
  letter-spacing: 6px;
  padding: 60px 48px;
  color: #3c3b3b
}

.articles {
  padding: 60px
}

.top_center_article {
  background: white ; 
  border: 1px solid black;
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 50px
}

.bottom_center_article {
  background: white ; 
  border: 1px solid black;
  grid-column: 2;
  grid-row: 2;
}

.top_center_article,
.bottom_center_article {

  margin-left: 10%;
  margin-right: -100%;
}

.user_article{
  background: white ; 
  border: 1px solid black;
  width: 100%;
  grid-column: 1/4;
  grid-row: 1;
  margin-bottom: 50px;
  padding: 
  
}
.user_article:nth-last-child(2){
  background: white ; 
  border: 1px solid black;
  grid-column: 1/4;
  grid-row: 2;
  margin-bottom: 50px;
     
}

.sec_title{
  position: relative;
  
}
.user_article .article {
  padding: 60px
}

.container_connexion form{
  margin: 120px 3% 0 32.6%;
  
  width: 25%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5% 5%;
  
 
  
}
.container_connexion form div {
  position: relative;
  right: 50px;
}
.container_connexion form p {
  text-align: center;
}

footer {text-align: center;}